@import "lib/variables";
@import "lib/mixins";
@import "lib/reset";
@import "lib/fonts";
@import "lib/base";
@import "sections/header";
@import "sections/experience";
@import "sections/projects";
@import "sections/about";
@import "sections/contact";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}
