@import "lib/variables";
@import "lib/mixins";
@import "lib/reset";
@import "lib/fonts";
@import "lib/base";
@import "sections/header";
@import "sections/experience";
@import "sections/projects";

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}
