@use "sass:math";
@import "../lib/variables";
@import "../lib/mixins";

section.experience {
  $vertical-padding: 20;

  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: spacing($vertical-padding) 0 spacing($vertical-padding);

  &::before {
    content: "";
    width: 1px;
    height: spacing($vertical-padding);
    position: absolute;
    top: 0;
    background-image: linear-gradient($text-secondary-color 50%, transparent 0);
    background-position: right;
    background-size: 1px 12px;
    background-repeat: repeat-y;
  }

  &::after {
    content: "";
    width: 1px;
    height: spacing($vertical-padding);
    position: absolute;
    bottom: 0;
    background-image: linear-gradient($text-secondary-color 50%, transparent 0);
    background-position: right;
    background-size: 1px 12px;
    background-repeat: repeat-y;
  }

  .experience-title {
    display: inline-flex;
    position: relative;
    padding: spacing(2) spacing(12);
    background-image: linear-gradient($text-secondary-color 50%, transparent 0);
    background-position: right;
    background-size: 1px 12px;
    background-repeat: repeat-y;
    text-align: center;
    font-weight: bold;

    &::before,
    &::after {
      content: "";
      width: 50%;
      height: 1px;
      position: absolute;
      right: 0;
      background-image: linear-gradient(to left, $text-secondary-color 50%, transparent 0);
      background-position: top;
      background-size: 12px 1px;
      background-repeat: repeat-x;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }
  }

  .experience-line {
    width: 1px;
    height: spacing(16);
    background-image: linear-gradient($text-secondary-color 50%, transparent 0);
    background-position: right;
    background-size: 1px 12px;
    background-repeat: repeat-y;
  }

  .experience-content {
    @include container;

    flex-direction: column;
    align-items: center;

    .experience-line {
      width: 1px;
      height: 100%;
      position: absolute;
      background-image: linear-gradient($text-secondary-color 50%, transparent 0);
      background-position: right;
      background-size: 1px 12px;
      background-repeat: repeat-y;
    }

    .experience-block {
      @include container;

      flex-direction: column;
      justify-content: center;

      .experience-item {
        $point-size: 16px;

        width: 100%;
        height: auto;
        display: grid;
        grid-template:
          "title position" auto
          "date description" auto / 1fr 1fr;

        &:hover {
          .experience-item__title {
            &::before {
              width: $point-size * 1.5;
              height: $point-size * 1.5;
              right: -$point-size * 0.75;
            }
          }
        }

        &:not(:last-child) {
          margin-bottom: spacing(12);
        }

        .experience-item__position,
        .experience-item__description {
          margin-left: spacing(8);
        }

        .experience-item__title {
          @include font(h3);

          grid-area: title;
          display: flex;
          align-items: center;
          position: relative;
          font-weight: bold;

          &::before,
          &::after {
            content: "";
            position: absolute;
            border-radius: $point-size;
          }

          &::before {
            width: $point-size;
            height: $point-size;
            right: - math.div($point-size, 2);
            z-index: 3;
            transition-property: width, height, right;
            transition-duration: 0.15s;
            transition-timing-function: ease-in-out;
          }

          &::after {
            width: $point-size * 2;
            height: $point-size * 2;
            background: #fff;
            right: -$point-size;
            z-index: 2;
            border: 1px dashed $text-secondary-color;
          }
        }

        .experience-item__position {
          @include font(h4);

          display: flex;
          align-items: center;
          grid-area: position;
        }

        .experience-item__date {
          grid-area: date;
          color: $text-secondary-color;
        }

        .experience-item__description {
          grid-area: description;
          color: $text-secondary-color;
        }

        &:nth-of-type(3n-2) .experience-item__title::before {
          background: palette(extra1, main);
        }

        &:nth-of-type(3n-1) .experience-item__title::before {
          background: palette(success, main);
        }

        &:nth-of-type(3n) .experience-item__title::before {
          background: palette(danger, main);
        }
      }
    }
  }
}
